/***********************************
CSS File for m23
***********************************/


/*****************************/
/*Allgemeines Style für Links*/
/*****************************/

body {
	color:					#000000;
	font-family:			Liberation Sans, Arial, Verdana, Helvetica, sans-serif; 
	font-weight:			normal;
	font-size:				14px;
	line-height:			15px;
}

.title {
	color:					#0000FF;
	font-family:			Liberation Sans, Arial, Verdana, Helvetica;
	font-size:				18px;
	line-height:			20px;
}

.titlesmal {
	color:					#0000FF;
	font-family:			Liberation Sans, Arial, Verdana, Helvetica;
	font-weight:			bold;
	font-size:				14px;
	line-height:			16px;
}

table {
	color:					#000000;
	font-family:			Liberation Sans, Arial, Verdana, Helvetica, sans-serif;
	font-weight:			normal;
	font-size:				14px;
	line-height:			15px;
}

.a, a:link, a:active, a:visited {
	color:					#1d1dc1;
	font-family:			Tahoma, Liberation Sans, Arial, Verdana, Helvetica, sans-serif; 
	font-weight:			normal;
	font-size:				14px;
	line-height:			15px;
	text-decoration:		none;
}

a:hover {
	color:					#1d1dc1;
	font-family:			Tahoma, Liberation Sans, Arial, Verdana, Helvetica, sans-serif; 
	font-weight:			normal;
	font-size:				14px;
	line-height:			15px;
	text-decoration:		underline;
	cursor:					pointer;
}

.subhighlight {
	font-family:			Liberation Sans, Arial, Verdana, Helvetica, sans-serif;
	font-weight:			bold;
	font-size:				20px;
	line-height:			22px;
	color:					#000000;
}