.ui-button {
	padding: .1em;
}
.ui-selectmenu-button.ui-button {
	width: auto;
}
.ui-selectmenu-icon {
	margin-left: .5em;
}

.ui-menu .ui-menu-item-wrapper {
	padding: .1em;
}
.ui-imgselectmenu-img {
	padding-right: .1em;
}

.ui-accordion-content {
	background-color: inherit;
}

.ui-accordion-header-active {
	background-color: #f6f6f6;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
	background-image: url("jquery-ui-1.12.1/images/ui-icons_444444_256x240.png");
}