a,a:link,a:active,a:visited	{
  font-weight : bold;
  text-decoration : underline;
}

a:hover	{
  color : #000000;
  font-weight : bold;
  text-decoration : none;
}

.nav a,.nav a:link,.nav a:active,.nav a:visited {
  border-top : 1px solid #8080A0;
  border-bottom : 1px solid #8080A0;
  border-left : 1px solid #8080A0;
  border-right : 1px solid #8080A0;
  display : block;
  background : #8080A0;
  color : #FFFFFF;
  font : bold 7pt Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-decoration : none;
  line-height : 16px;
}

.nav a:hover {
  border-top : 1px solid #535368;
  border-bottom : 1px solid #ACACC1;
  border-left : 1px solid #535368;
  border-right : 1px solid #ACACC1;
  background : #6C6C8E;
  color : #D5D515;
  text-decoration : none;
  cursor : pointer;
}

b {
  font-weight : bold;
}

big,.big 	{
  color : #808080;
  font : bold small Arial, Helvetica, sans-serif;
}

body,td,p,ol,li,div,span	{
  font : 12px Arial, Helvetica, sans-serif;
  scrollbar-3dlight-color : #000000;
  scrollbar-darkshadow-color : #000000;
  scrollbar-highlight-color : #ACACC1;
  scrollbar-shadow-color : #535368;
  scrollbar-arrow-color : #D5D515;
  scrollbar-face-color : #8080A0;
}

h1, h2, h3, h4, h5, h6	{
  color : #808080;
  font : bold small Arial, Helvetica, sans-serif;
}

small,.small	{
  font : 7pt Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

usl lsi {  
	list-style-position:inside;
}

.border {
  border-bottom : 1px solid #000000;
  border-right : 1px solid #000000;
  background : #A5A5A5;
  font : 7pt Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.button{
  border-top : 1px solid #ACACC1;
  border-bottom : 1px solid #535368;
  border-left : 1px solid #ACACC1;
  border-right : 1px solid #535368;
  color : #FFFFFF;
  background : #8080A0;
  font : 9pt Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  width : 75px;
}

.footer-content {
  border-top : 1px solid #000000;
  background : #969696;
  font : 7pt Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.input{
  border-top : 1px solid #8080A0;
  border-bottom : 1px solid #8080A0;
  border-left : 1px solid #8080A0;
  border-right : 1px solid #8080A0;
  color : #000000;
  background : #E8E8E8;
  font : 9pt Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.nav {
  font : bold 7pt Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  height : 15px;
  line-height : 15px;
}

.table-content {
  border-right : 1px solid #000000;
  border-bottom : 1px solid #000000;
  background : #969696;
  width : 750px;
}

.title-head	{
  color : #D5D515;
  font : bold small Arial, Helvetica, sans-serif;
}

.title-small	{
  color : #FFFFFF;
  font : bold 7pt Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.trans {
  filter : alpha(opacity=5);
  width : 41px;
  -moz-opacity : 5;
}